*/temp*
*/*/temp*
temp?
*.md
!LICENCSE.md
*.example
cache
.git*
*/.git*
.editorconfig
*/.editorconfig
*/.travis.*
*/.gitkeep
composer.*
*/composer.*
*/tests
sbin
*/sbin
.DS_Store
*/.DS_Store
vendor
ldap
htdocs
