{% extends "layout.htm" %}
{% block title %}Profile{% endblock %}
{% block head %}
{% endblock %}
{% block content %}

    {% include 'nav.htm' %}

      <dl class="dl-horizontal">
        <dt>Login:</dt>
        <dd>{{ current_user.uid }}</dd>
        <dt>Display name:</dt>
        <dd>{{ current_user.name }}</dd>
        <dt>Fullname:</dt>
        <dd>{{ current_user.fullname }}</dd>
        <dt>Email:</dt>
        <dd>{{ current_user.mail }}</dd>
        <dt>Mobile:</dt>
        <dd>{{ current_user.mobile }}</dd>
        <dt>Is keeper:</dt>
        <dd>{{ current_user.isKeeper()?'Yes':'No' }}</dd>
      </dl>

{% endblock %}
